body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

/* #container{
    margin-top: 20px;
} */

.orange{
    color: #FB9149;
}

.skyblue{
    color: #5bc1ea;
}

.half-width{
    width: 50%;
    padding-left: 8%;
}

.flexible-container{
    display: flex;
    margin-bottom: 100px;
}

/* top-header section css */

#top-header{
    display: flex;
    background-color: #000;
    padding-left: 8%;
}

.logo{
    width: 30%;
}

.logo h1{
    font-size: 42px;
    color: #fff;
}

.menubar{
    width: 40%;
}

.menubar ul{
    color: #fff;
    list-style: none;
}

.menubar ul li{
    float: left;
    /* background-color: #5bc1ea; */
    background-color: #FB9149;
    border-radius: 20px;
    margin: 28px 5px;
}

.menubar ul li:hover{
    background-color: #5bc1ea;
}

.menubar ul li a{
    display: block;
    padding: 8px 30px;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.phn-no{
    width: 30%;
}

.phn-no p{
    text-align: right;
    color: #fff;
    font-size: 18px;
    padding-right: 160px;
    padding-top: 32px;
    font-weight: 800;
}

/* header section css */

#header{
    padding-top: 50px;
}

.left-header h1{
    font-size: 60px;
    color: #575757;
}

.left-header p{
    font-size: 22px;
    margin-bottom: 50px;
    color: gray;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    padding: 16px 40px;
    color: white;
    font-weight: 700;
    border-radius: 30px;
    box-shadow: 1px 1px 14px 0px tomato;
}

.right-header img{
    /* padding-left: 5%; */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

 /* about section css */

#about{
    background-image: url(images/bg-about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
    padding-top: 50px;
}

.left-about img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.right-about{
    padding-top: 30px;
}

.right-about h2 {
    font-size: 42px;
    color: #707070;
}

.right-about p {
    padding-right: 15%;
    font-size: 20px;
    text-align: justify;
    line-height: 1.8;
    padding-bottom: 10%;
}

/* recipies section css */

#recipies{
    padding-left: 8%;
    padding-right: 8%;
}

.recipies-text h2{
    text-align: center;
    font-size: 42px;
    color: #707070;
}

.recipies-text p{
    text-align: center;
    font-size: 20px;
    
}

.recipes-item{
    width: 30%;
    padding: 20px;
    margin: 30px;
    border-radius: 40px;
    box-shadow: 1px 1px 14px 0px gray;
}

.recipes-item img{
    display: block;
    width: 100%;
}

.recipes-item h2{
    font-size: 30px;
    color: black; 
}

.recipes-item p{
    font-size: 18px;
}

/* any-queries section css */

#any-queries{
    background-color: #e6e6e6;
    padding: 50px 0 100px 0;
}

.form{
    width: 50%;
    margin: 0 auto;
}

.form h2{
    font-size: 42px;
    color: #707070;
    text-align: center;
}

.form p{
    text-align: center;
    font-size: 18px;
}

.form input, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.form-submit-btn{
    width: 30%;
    margin: 0 auto;
  }

.form-submit-btn input {
    background-color: #5bc1ea;
    cursor: pointer;
}

/* footer section css */

#footer{
    background-color: #000;
    padding: 50px 0 100px 0;
    text-align: center;
}

#footer h1{
    color: #5B5B5B;
    text-transform: uppercase;
    font-size: 40px;
}

#footer p{
    color: #8AAEC5;
    font-size: 18px;
}
